name: NPM Publish
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'
      - run: 'yarn'
      - run: 'yarn prepublish'
      - run: 'npm publish --access public'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}